* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eeeeee;
  padding: 0 16px;
}

.header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
}

.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.footer {
  text-align: center;
  width: 100%;
  height: 2.5rem;
  color: #000000; 
  line-height: 2.5rem;
  margin-top: 100%;
}


.footer p {
  color: #ccc;
}
.note {
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px #ccc;
  padding: 15px;
  width: 240px;
  margin: 10px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.noteContent {
  font-size: 1.1em;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #333; 
  padding: 10px; 
  background-color: #eef2f5; 
  border-radius: 5px; /
}
